<section id="intro">
  <div class="info">
    <h1>Encontre o café perfeito para qualquer hora do dia</h1>
    <p>Com o Coffee Delivery você recebe seu café onde estiver, a qualquer hora</p>

    <ul>
      <li>
        <span class="icon">
          <app-shopping-cart-fill-icon [width]="14" [height]="14"></app-shopping-cart-fill-icon>
        </span>
        <span>Compra simples e segura</span>
      </li>
      <li>
        <span class="icon">
          <app-package-icon [width]="14" [height]="14"></app-package-icon>
        </span>
        <span>Embalagem mantém o café intacto</span>
      </li>
      <li>
        <span class="icon">
          <app-timer-fill-icon [width]="14" [height]="14"></app-timer-fill-icon>
        </span>
        <span>Entrega rápida e rastreada</span>
      </li>
      <li>
        <span class="icon">
          <app-coffee-fill-icon [width]="14" [height]="14"></app-coffee-fill-icon>
        </span>
        <span>O café chega fresquinho até você</span>
      </li>
    </ul>
  </div>

  <img src="assets/home-intro-coffee.png" alt="Coffee background" />
</section>
