<div class="coffee-item">
  <img src="assets/coffees/americano.png" alt="café expresso" class="coffee-image" />

  <ul class="badges">
    <li class="badge-item">TRADICIONAL</li>
    <li class="badge-item">TRADICIONAL</li>
  </ul>

  <h5>EXPRESSO AMERICANO</h5>

  <p class="description">O tradicional café feito com água quente e grãos moídos</p>

  <div class="coffee-item-footer">
    <p class="price"><span>R$</span> 9,90</p>

    <app-input-quantity
      (increase)="handleIncrease()"
      (decrease)="handleDecrease()"
      [quantity]="1"
    />

    <button type="button">
      <app-cart-icon class="cart-item"></app-cart-icon>
    </button>
  </div>
</div>
