<div class="coffee-item">
  <img [src]="coffee.image" [alt]="coffee.title" class="coffee-image" />

  <ul class="badges">
    <li class="badge-item" *ngFor="let tag of coffee.tags">{{tag | uppercase}}</li>
  </ul>

  <h5>{{coffee.title}}</h5>

  <p class="description">{{coffee.description}}</p>

  <div class="coffee-item-footer">
    <p class="price"><span>R$</span> {{coffee.price | currency: 'BRL': ''}}</p>

    <app-input-quantity
      (increase)="handleIncrease()"
      (decrease)="handleDecrease()"
      [quantity]="1"
    />

    <button type="button">
      <app-cart-icon class="cart-item"></app-cart-icon>
    </button>
  </div>
</div>
